.competences {
  display: flex;
  justify-content: space-between;
  margin: 120px auto 0;
  padding: 0 120px;

  @include phone {
    flex-direction: column;
    padding: 0 20px;
  }

  .competences--wrapper {
    display: flex;
    justify-content: space-between;

    .wrapper--icons {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      width: 100%;
      .logo {
        display: flex;
        width: 100px;
        padding: 20px 20px 0;
      }
    }

    .wrapper--competences-prog {
      border-radius: 5px;
      box-shadow: 0 0 20px 0 rgba(56, 56, 56, 0.2);
      padding: 60px;
      width: 45%;
      @include phone {
        width: 100%;
        padding: 20px;
        margin-bottom: 60px;
      }
    }

    .wrapper--competences-design {
      border-radius: 5px;
      box-shadow: 0 0 20px 0 rgba(56, 56, 56, 0.2);
      padding: 60px;
      width: 45%;

      @include phone {
        width: 100%;
        padding: 20px;
        margin-top: 60px;
      }
    }
  }
}
